[Unit]
Description=Keep dotfiles in sync

[Service]
Type=oneshot
ExecStart=/home/karol/.local/bin/git-auto-pull /home/karol/repos/dotfiles
ExecStop=/home/karol/.local/bin/git-auto-commit /home/karol/repos/dotfiles
RemainAfterExit=true

[Install]
WantedBy=default.target
