[Unit]
Description=Keep notes in sync

[Service]
Type=oneshot
ExecStart=/home/karol/.local/bin/git-auto-pull /home/karol/repos/notes
ExecStop=/home/karol/.local/bin/git-auto-commit /home/karol/repos/notes
RemainAfterExit=true

[Install]
WantedBy=default.target
